{% extends "base.html" %}

{% block title %}
New profile
{% endblock %}

{% block content_title %}
<h1>Новый пользователь</h1>
{% endblock %}

{% block content %}
<div class="col-md-6">
    <form action="{{ url_for('profile.create_profile')}}" method="post">

        {% for field in form %}
            <div class="form-group">
                {{field.label(class='control-label')}}
                {{field(class='form-control')}}
            </div>
        {% endfor %}

        <button type="button" class="btn btn-dark">Сохранить</button>

    </form>
</div>
{% endblock %}
