{% extends "base.html" %}

{% block title %}
Изменение мастера
{% endblock %}

{% block content_title %}
<h1>Изменение мастера</h1>
{% endblock %}

{% block content %}
<div class="col-md-6">
    <form action="{{ url_for('employee.edit', pk=now_employee.id)}}" method="post">

        {% for field in form %}
            <div class="form-group">
                {{field.label(class='control-label')}}
                {{field(class='form-control')}}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-dark">Изменить</button>

    </form>
</div>
{% endblock %}